# Repository ownership for hip-kernel-generator

* @AMD-AGI/AI-Algorithm @liuji @zepingli @codyhuang @chushi zihao @puyuan

/README.md @AMD-AGI/AI-Algorithm @liuji
/.gitignore @AMD-AGI/AI-Algorithm @liuji
/.github/ @AMD-AGI/AI-Algorithm @liuji

